body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  height: 6vh;
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  background: #2c2c2c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e9e9e9;
  position: fixed;
  z-index: 10;
}

nav logo {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}

nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 300px;
  width: 30vw;
}

nav ul li {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  list-style: none;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #e9e9e9;
}

.back-page {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #2c2c2c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e9e9e9;
  position: fixed;
}

.back-page a {
  margin: 0 30px;
  cursor: pointer;
  text-decoration: none;
  color: #e9e9e9;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.feature-image {
  width: 100%;
  height: 70vh;
  padding-top: 6vh;
  background-image: url(feature-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e9e9e9;
  word-break: break-word;
  text-align: center;
}

.feature-image h1 {
  font-size: 5vw;
  margin: 0;
  padding: 0;
}

.feature-image p {
  font-size: 2vw;
  margin: 0 10%;
  padding: 0;
}

.darken {
  position: relative;
}

.darken::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.darken p, .darken h1 {
  position: relative;
  z-index: 1;
}

.demo-section {
  width: 100%;
  height: auto;
  background-image: linear-gradient(-60deg, #257425, lightgreen);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.demo-container {
  margin: 0 10vw;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: 600px;
  width: 16vw;
  min-width: 300px;
  max-width: 20vw;
  margin: 40px 20px;
}

.img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 250px;
  height: 250px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 1px lightgray solid;
  position: absolute;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-container:hover {
  overflow: visible;
  width: 500px;
  height: 500px;
  border-radius: 0;
  z-index: 2;
}

.horizontal {
  max-width: 500px;
  max-height: 250px;
}

.vertical {
  max-width: 250px;
  max-height: 500px;
}

.demo-description {
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #2c2c2c;
  margin: 270px 20px 20px 20px;
}

.demo-description h3 {
  margin: 0;
  margin-top: 10px;
}

.demo-description p {
  margin: 5px 20px 20px 20px;
  text-align: justify;
}

.demo-description div {
  width: 80%;
}

.demo-description div a {
  text-decoration: none;
  background-color: #2c2c2c;
  color: #e9e9e9;
  height: 35px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.about {
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-image: linear-gradient(60deg, coral, lightcoral);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
  color: #e9e9e9;
}

.contact {
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-image: linear-gradient(150deg, lightblue, #4eaece);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
  color: #e9e9e9;
}

.text-content {
  width: 60vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  color: #e9e9e9;
}

.text-content p {
  margin: 10px 0;
  text-align: center;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-content p a {
  word-break: break-word;
  text-decoration: none;
  color: #e9e9e9;
}

footer {
  height: 12vh;
  width: 100%;
  background-color: #2c2c2c;
  color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: none;
}

footer .ico-bubble {
  border: solid 2px #797979;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

footer .ico-bubble i.fab, footer .ico-bubble i.fas {
  color: #797979;
  font-size: 1.3rem;
}

.elsiefour-container {
  background: #109041;
  background: linear-gradient(45deg, #ef0781 0%, #ef0781 6%, #d00a70 6%, #d00a70 25%, #b10d60 25%, #b10d60 40%, #93104f 40%, #93104f 45%, #74133e 45%, #74133e 53%, #55162e 53%, #55162e 66%, #36191d 66%, #36191d 100%);
  padding-top: 6vh;
  min-height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elsiefour-container .form-holder {
  height: auto;
  width: auto;
  max-width: 50vw;
  margin: 1vw 0;
  padding: 30px;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
}

.elsiefour-container .form-holder button {
  border: none;
  background: #2c2c2c;
  color: #e9e9e9;
  padding: 10px 15px;
  border-radius: 50px;
}

.elsiefour-container .form-holder input {
  border: none;
  padding: 10px 15px;
  width: 15vw;
  border: solid 1px #e9e9e9;
  background-color: #e9e9e9;
}

.elsiefour-container .form-holder input:focus {
  border: solid 1px #480048;
}

.elsiefour-container .form-holder p, .elsiefour-container .form-holder b {
  margin: 10px 0 0 0;
  padding: 0;
  word-break: break-word;
  text-align: justify;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.elsiefour-container .form-holder h2 {
  margin: 0;
  padding: 0;
}

.elsiefour-container .form-holder a {
  text-decoration: none;
  font-weight: 700;
  color: #2c2c2c;
}

.elsiefour-container .form-holder hr {
  width: 100%;
}

.weather-container {
  padding-top: 6vh;
  min-height: 94vh;
  background: linear-gradient(135deg, rgba(19, 176, 223, 0.26) 0%, rgba(19, 176, 223, 0.26) 23%, rgba(16, 160, 197, 0.26) 23%, rgba(16, 160, 197, 0.26) 65%, rgba(13, 144, 172, 0.26) 65%, rgba(13, 144, 172, 0.26) 70%, rgba(9, 129, 146, 0.26) 70%, rgba(9, 129, 146, 0.26) 74%, rgba(6, 113, 121, 0.26) 74%, rgba(6, 113, 121, 0.26) 90%, rgba(3, 97, 95, 0.26) 90%, rgba(3, 97, 95, 0.26) 100%), linear-gradient(45deg, rgba(65, 234, 230, 0.26) 0%, rgba(65, 234, 230, 0.26) 28%, rgba(88, 192, 215, 0.26) 28%, rgba(88, 192, 215, 0.26) 55%, rgba(110, 150, 201, 0.26) 55%, rgba(110, 150, 201, 0.26) 66%, rgba(133, 107, 186, 0.26) 66%, rgba(133, 107, 186, 0.26) 80%, rgba(155, 65, 172, 0.26) 80%, rgba(155, 65, 172, 0.26) 85%, rgba(178, 23, 157, 0.26) 85%, rgba(178, 23, 157, 0.26) 100%), linear-gradient(90deg, #1bc2f6 0%, #1bc2f6 6%, #27aeed 6%, #27aeed 32%, #329be5 32%, #329be5 40%, #3e87dc 40%, #3e87dc 66%, #4a74d3 66%, #4a74d3 72%, #5660ca 72%, #5660ca 86%, #614dc2 86%, #614dc2 96%, #6d39b9 96%, #6d39b9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city_search, #city_choice {
  width: 100%;
  height: 100%;
  margin-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city_search input, #city_search select, #city_choice input, #city_choice select {
  width: 50%;
  height: 50px;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #e9e9e9;
  border: none;
  padding: 5px 30px 5px 30px;
  font-size: 1.5em;
  color: #2c2c2c;
}

#city_search button, #city_choice button {
  width: 80px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #2c2c2c;
  font-size: 1.5em;
  color: #e9e9e9;
  border-left: 2px solid #2c2c2c;
  cursor: pointer;
}

#city_search button:hover, #city_choice button:hover {
  background-color: #797979;
  border-left: 2px solid #797979;
}

.weather-holder {
  background-color: #e9e9e9;
  padding: 5px;
  width: 80vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ace0ff;
}

.weather-holder .day-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  height: auto;
}

.weather-holder .day-holder .day {
  background-color: #34bcfc;
  width: 100%;
  height: 100%;
  border: 5px solid #ace0ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-holder .day-holder .day div {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-holder .day-holder .day div p {
  margin: 5px 0;
  padding: 0;
  color: #e9e9e9;
  font-size: 1.5em;
}

.weather-holder .day-holder .day img {
  width: 80%;
  margin: 5px 0;
}

.weather-holder .extra {
  width: auto;
  height: 20%;
  margin: 2% auto;
  background-color: #34bcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-holder .extra p {
  margin: 10px;
  padding: 0;
  color: #e9e9e9;
  font-size: 3em;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

@media only screen and (max-width: 800px) {
  body {
    min-width: 300px;
  }
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 14vh;
  }
  nav logo {
    margin: 15px 0;
    font-size: 25px;
  }
  nav ul {
    margin: 0 auto;
    width: auto;
    min-width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul li {
    width: auto;
    margin: 0 5px;
  }
  .feature-image {
    padding-top: 14vh;
  }
  .feature-image h1 {
    font-size: 3rem;
  }
  .feature-image p {
    font-size: 1.5rem;
  }
  .demo-container {
    margin: 0 15vw;
  }
  .demo {
    margin: 20px 0;
  }
  .elsiefour-container {
    padding: 8vh 0 4vh 0;
  }
  .elsiefour-container .form-holder {
    max-width: 80vw;
    width: 100%;
  }
  .elsiefour-container .form-holder form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .elsiefour-container .form-holder form * {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  .weather-holder {
    margin-top: 6vh;
    margin-bottom: 6vh;
    height: auto;
    width: 90vw;
    padding: 0;
  }
  .weather-holder .day-holder {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather-holder .day-holder .day {
    min-height: 15vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: none;
    width: auto;
    margin: 5px;
  }
  .weather-holder .day-holder .day div {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 10px;
  }
  .weather-holder .day-holder .day div p {
    font-size: 5vw;
    margin: 0 5px;
  }
  .weather-holder .day-holder .day img {
    height: auto;
    width: 10vw;
    margin: 0 20px 0 10px;
  }
  .weather-holder .extra p {
    font-size: 8vw;
  }
  .img-container:hover {
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 999;
  }
  .elsiefour-container {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */