{% extends "base.html" %}

{% block title %}
    LC4 Encryption Demo
{% endblock%}

{% block content %}
    <div class="back-page">
        <a href="/">< Back</a>
    </div>
    <div class="elsiefour-container">
        <div class="form-holder">
            <h2>LC4 Encryption Algorithm</h2>
            <p>To use this encryption algorithm you will need a key and a message to encrypt both made from the following alphabet of characters '<b>#_23456789abcdefghijklmnopqrstuvwxyz</b>'.
                Your key must be exactly 36 characters in length using each letter of the given alphabet once. This can be generated for you with the button below.</p>
            <p>NOTE: Capitalized letters and spaces are not supported only exact characters seen in the alphabet shown above</p>
            <p><b>Example Key:</b> nmk_hvpy5bd4j#z63uqcisgt7fr9alew8x2o</p><p><b>Example Message:</b> hello_world</p>
            <p>To read more about the LC4 encryption algorithm <a target="_blank" href="https://www.semanticscholar.org/paper/ElsieFour%3A-A-Low-Tech-Authenticated-Encryption-For-Kaminsky/96d0002a06faefd3686b0a04cf289f7b904b8c47">click here</a></p>
        </div>
        <div class="form-holder">
            <form method="post" id="new-key">
                <button type="submit">Generate Key</button>
            </form>
            <p id="key" style="display: none"></p>
        </div>
        <div class="form-holder">
            <form method="post"  id="get-cipher">
                <button type="submit">Encrypt</button>
                <input type="text" id="encrypt-key" required placeholder="Encryption Key" maxlength="36" minlength="36">
                <input type="text" id="encrypt-message" required placeholder="Message">
            </form>
            <hr id="cphrbar" style="display: none"/>
            <p id="cipher" style="display: none"></p>
        </div>
        <div class="form-holder">
            <form method="post" id="get-message">
                <button type="submit">Decrypt</button>
                <input type="text" id="decrypt-key" required placeholder="Encryption Key">
                <input type="text" id="decrypt-message" required placeholder="Message">
            </form>
            <hr id="msgbar" style="display: none"/>
            <p id="message" style="display: none"></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/elsie_four.js"></script>
{% endblock%}