{% extends "base.html" %}

{% block title %}
    Weather Forecast Demo
{% endblock%}

{% block content %}
    <div class="back-page">
        <a href="/weather">< Back</a>
    </div>
    <div class="weather-container">
        <div class="weather-holder">
            <div class="day-holder">
                {% for day in forecast %}
                <div class="day"><div><p>{{ day_finder(day['dt']) }}</p><p>{{ day['weather'][0]['main'] }}</p><p>{{ day['main']['temp'] }}°C</p></div><img src="/static/{{ weather_type(day['weather'][0]['id']) }}"></div>
                {% endfor %}
            </div>
            <div class="extra">
                <p>{{ city_details['name'] }}</p>
            </div>
        </div>
    </div>
{% endblock%}