{% extends "base.html" %}

{% block title %}
    David Rosetti
{% endblock %}

{% block content %}
    <nav id="navbar">
        <logo>
            Welcome
        </logo>
        <ul>
            <li><a href="#demos">Demos</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="feature-image darken">
        <h1>David Rosetti</h1>
        <p>A passionate developer who is always looking to learn new things!</p>
    </div>
    <div class="demo-section" id="demos">
        <div class="text-content">
            <p>Take a look at some of the projects I've built!</p>
        </div>
        <div class="demo-container">
            <div class="demo">
                <div class="img-container horizontal"><img src="static/LC4_demo.png" alt=""></div>
                <div class="demo-description">
                    <h3>LC4 Encryption Algorithm</h3>
                    <p>My implementation of the LC4 encryption algorithm allowing users to encrypt and decrypt messages using a secret key through an interactive web app</p>
                    <div>
                        <a href="/elsiefour">View Demo</a>
                        <a target="_blank" href="https://github.com/phalaxion/LC4-Encryption-Algorithm">Github</a>
                    </div>
                </div>
            </div>
            <div class="demo">
                <div class="img-container horizontal"><img src="static\registry_demo.png" alt=""></div>
                <div class="demo-description">
                    <h3>RESTful Device Manager API</h3>
                    <p>A device manager API intended for Smart Home devices to provide a central registry for registering devices and getting device information</p>
                    <div class="noselect">
                        <a style="background-color: rgb(99, 99, 99);">View Demo</a>
                        <a target="_blank" href="https://github.com/phalaxion/Smart-Home-REST-API">Github</a>
                    </div>
                </div>
            </div>
            <div class="demo">
                <div class="img-container horizontal"><img src="static\portfolio_demo.png" alt=""></div>
                <div class="demo-description">
                    <h3>This Portfolio!</h3>
                    <p>A web application built in Python utilising the Flask framework as well as a variety of front-end technologies</p>
                    <div class="noselect">
                        <a href="/">View Demo</a>
                        <a target="_blank" href="https://github.com/phalaxion/Portfolio">Github</a>
                    </div>
                </div>
            </div>
            <div class="demo">
                <div class="img-container horizontal"><img src="static\weather_demo.png" alt=""></div>
                <div class="demo-description">
                    <h3>Weather Checker Web App</h3>
                    <p>A web application built in Python utilising the OpenWeatherMap API to retrieve weather data based on a users chosen city</p>
                    <div class="noselect">
                        <a href="/weather">View Demo</a>
                        <a target="_blank" href="https://github.com/phalaxion/Weather-Checker">Github</a>
                    </div>
                </div>
            </div>
            <div class="demo">
                <div class="img-container vertical"><img src="static\species_demo.png" alt=""></div>
                <div class="demo-description">
                    <h3>Species Identification App</h3>
                    <p>An IOS based mobile application built using Swift that allows users to identify invertebrates species using a dichotomous key</p>
                    <div class="noselect">
                        <a style="background-color: rgb(99, 99, 99);">View Demo</a>
                        <a target="_blank" href="https://github.com/phalaxion/Species-Identification-IOS-App">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="text-content">
            A recent university graduate who's keen to make a difference
            <p>Having experience in a wide variety of languages and frameworks I'm looking for a place to call home!</p>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="text-content">
            Get in Contact With Me At
            <p><a target="_blank" href="mailto:david.rosetti1@gmail.com">david.rosetti1@gmail.com</a></p>
            <p><a target="_blank" href="https://www.linkedin.com/in/david-rosetti">linkedin.com/in/david-rosetti/</a></p>
        </div>
    </div>
    <footer>
        <a target="_blank" href="https://github.com/phalaxion">
            <div class="ico-bubble" href=""><i class="fab fa-github"></i></div>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/david-rosetti">
            <div class="ico-bubble" href=""><i class="fab fa-linkedin-in"></i></div>
        </a>
        <a target="_blank" href="mailto:david.rosetti1@gmail.com">
            <div class="ico-bubble" href=""><i class="fas fa-envelope"></i></div>
        </a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/main.js"></script>
{% endblock%}