{% extends "base.html" %}

{% block title %}
    Weather Forecast Demo
{% endblock%}

{% block content %}
    <div class="back-page">
        <a href="/">< Back</a>
    </div>
    <div class="weather-container">
        <form method="post" id="city_search">
            <input type="text" id="search_string" required placeholder="City Name" minlength="3">
            <button type="submit" id="search_btn" name="btn" value="search"><i class="fas fa-search"></i></button>
        </form>
        <form id="city_choice" style="display: none">
            <select id="weather_dropdown" name="city_choices"></select>
            <button type="submit" id="select_btn" name="btn" value="submit">Select</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/weather.js"></script>
{% endblock%}